{% extends "Busapp/base.html" %}

{% load static %}

{% block content %}

<div class="politica">

    <h1 >Política de privacidad</h1> 


    <p>
        Tu privacidad es importante para Travel Tech. En esta declaración de privacidad te explicamos qué datos personales recopilamos de nuestros usuarios y cómo los utilizamos. Te animamos a leer detenidamente estos términos antes de usar esta web.

        Cuando nos facilitas información de carácter personal a través del sitio, Travel Tech respeta tu privacidad y los derechos que le reconoce la normativa sobre protección de datos de carácter personal. Por ello, es importante que entiendas que información recabamos acerca de ti durante tu visita y qué hacemos con dicha información. Tu visita a Travel Tech está sujeta a la presente Política de Privacidad sobre Tratamiento de Datos Personales.
        
        Los MAYORES DE 18  AÑOS podrán acceder a Travel Tech  sin el previo consentimiento de sus padres o tutores. En el caso de los menores de 18 años se requiere el consentimiento de los padres o tutores para el tratamiento de sus datos personales. En ningún caso se recabarán del menor de edad datos relativos a la situación profesional, económica o a la intimidad de los otros miembros de la familia, sin el consentimiento de éstos. Si eres menor de trece años y has accedido a este sitio web sin avisar a tus padres no debes registrarte en Disqus (nuestro sistema de comentarios) o Spot.IM (nuestro antiguo sistema de comentarios) como usuario.
        
        En esta web se respetan y cuidan los datos personales de los usuarios. Antes de leer toda la parrafada legal (escrita de forma sencilla) como usuario debes saber que tus derechos están garantizados.

    </p>


    <h1 >1. ¿Qué datos se recopilan en Travel Tech ?    </h1> 

    <p> 
        Por dejarlo claro desde el principio: Travel Tech   te pide datos identificables como nombre, correo electrónico o teléfono ya que  vendemos productos.

        ¿Qué datos compartes con nosotros al navegar por Travel Tech Datos no identificables que pueden incluir direcciones IP, ubicación geográfica (aproximadamente), un registro de cómo se utilizan los servicios y sitios, y otros datos que no pueden ser utilizados para identificar al usuario. Entre los datos no identificativos están también los relacionados a tus hábitos de navegación a través de servicios de terceros. Esta web utiliza el servicio de análisis de Google Analytics.
        
        En cualquier caso las categorías de datos que se tratan son datos identificativos o no identificativos y en ambos casos se tratan de categorías de datos no especialmente protegidos.
        
        Si además de navegar usas el sistema de comentarios Disqus instalado en Travel Tech, darás datos personales como IP, dirección de correo electrónico, nombre, ubicación geográfica o cuentas en redes sociales a Disqus.
        
 

    </p>

    <h1 >2. ¿Quién almacena los datos?    </h1> 

    <h2> Los datos recogidos debido a la navegación en Travel Tech, correos electrónicos enviados a Travel Tech  y suscripción a Travel Tech
    </h2>

    <p> 
        Los datos que recoge Travel Tech  de forma directa (datos de navegación y suscripciones a nuestro servicio de suscripción) son almacenados por Travel Tech mediante su responsable y los controladores y procesadores.

Los datos que recoge Travel Tech de forma indirecta (recepción de correos electrónicos) son almacenados por Travel Tech mediante su responsable.

    </p>

    <h3>Responsable del tratamiento de tus datos recogidos por Travel Tech  de forma directa e indirecta

    </h3> 

    <p> 
        Identidad del Responsable: Moises Gonzalez
        Nombre comercial: Travel Tech 
        Domicilio: Urb Yucatan Manzana A-9  (Venezuela)
        Correo electrónico: moises1999vene@gmail.com
        Actividad: medio de comunicación que informa sobre NBA y baloncesto en general.
        Para el tratamiento de datos, implementamos todas las medidas técnicas y organizativas de seguridad establecidas en la legislación vigente. Puedes contactar en el correo electrónico anterior para borrar todos los datos que podamos haber recibido por tu parte. NO COMPARTIRMOS LOS DATOS CON TERCEROS salvo Memberful, Stripe y Mailchimp.

    </p>


    <h1>4. ¿Por qué recopilamos datos?
    </h1>

    <p>
        El gran quid de la cuestión. Lo explicamos en dos subsecciones.
        
    </p>

    <h3>Los datos de navegación
    </h3>

    
    <p>
        Utilizamos esta información para analizar tendencias, administrar el sitio, rastrear los movimientos de los usuarios alrededor del sitio y para recopilar información demográfica sobre nuestra base de usuarios en su conjunto.

        Los datos de análisis nos sirven para mejorar nuestro funcionamiento y no obtenemos un rendimiento económico directo por ello.        
    </p>

</div> 




 {% endblock %}