
 
<h1 style="font-family:Bebas Neue; color:black; font-size:25px; margin-left:200px;"> TRAVEL TECHS  </h1>

 
  <h1 style="font-family:Bebas Neue; color:black;  font-size:25px; margin-left:200px;"> Reporte de Usuario  </h1>
  {% if palabra  %}

    <h2 style="color:black;  font-size:25px; margin-left:200px;">REPORTE CODIGO #:{{palabra}} </h2>
{% endif %}

<table border="1" style="color:black; text-align:center;" >

    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nacimiento</th>
        <th scope="col">Origen</th>
        <th scope="col">Sexo</th>
        <th scope="col">Password</th>
        <th scope="col">Correo</th>
        <th scope="col"></th>
        <th scope="col">Creado</th>


      </tr>
    </thead>
    <tbody>

      {% for datoss in  datos %}


 
      <tr>
 
        <td>{{datoss.nombre}}</td>
        <td>{{datoss.apellido}}</td>
        <td>{{datoss.nacimiento}}</td>
        <td>{{datoss.origen}}</td>
        <td>{{datoss.sexo}}</td>
        <td>{{datoss.password}}</td>
        
        <td style="margin-left:60px; color:black; padding-bottom:20px;" >{{datoss.email}}</td>        
        <td></td>

        <td>{{datoss.creado}}</td>



      </tr>
      
    </tbody>

    {% endfor %}

  </table>